@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
// @import '~bootstrap/scss/variables';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tables';

.wrapper {
  overflow: auto;
}
table.table-bordered {
  tbody {
    th {
      padding: 5px 0.75em;
    }
    td {
      padding: 0;
    }
    tr:hover {
      cursor: pointer;
      background-color: #ccd9ff;
    }
    .form-control:disabled, .form-control {
      border: 0;
      border-radius: 0;
      background-color: #fff;
    }
  }
}
table {
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  margin: auto;

  thead {
    font-weight: bold;
  }
  tbody {
    th {
      font-size: 12px;
    }
    td {
      text-align: center;
    }
    textarea {
      resize: none;
    }
  }
}
input {
  text-align: center;
}
button {
  text-align: center
}
.title {
  text-align: center
}
.class {
  background-color: lightgreen;
}
.class1 {
  background-color: white;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: ease;
}
.table-sortable tbody tr {
  cursor: move;
}

.modal-header {
  background-color: #004d73;
  color: white;
}
.cross {
  color: #ff1a1a;
}
.found {
  border: 1px red solid;
}
#myModal {
  display: none;
}
.closed {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  opacity: .2;
  background: transparent;
  border: 0;
}
.pliage {
  background-color: #414c5d;
  color: white;
}
.pliage_ss_niveau {
  background-color: #DDD;
}
.stylehead {
  background-color: #004d73;
  text-align: center;
  padding: 5px;
  heigth: 70px;
}
.title {
  font-size: 25px;
  color: white;
}
.search {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  width: 300px;
  &:focus{
    width: 600px;
  }
}
#reset-search{
  cursor: pointer;
  margin-right: 20px;
}
.fa-chevron-down {
  float: right;
}
.fa-chevron-up {
  float: right;
}
.fa-search {
  width: 27px;
}

.input-group {
  border-collapse: collapse;
}
// button.show-untranslated {
// }
button.switch-on {
  background-color: green;
  color: white;
}
tr.highlight {
  background-color: #ffddae !important;
}
textarea.highlight {
  border: 1px dotted orange !important;
}
