.wrapper
{
   overflow: auto;
}

table.table-bordered
{
  tbody
  {
    th {
      padding: 5px 0.75em;

    }
    td
    {
      padding: 0;
    }
    tr:hover
    {
      cursor: pointer;
      background-color:#ccd9ff;
    }


    .form-control:disabled, .form-control
    {
      border: 0;
      border-radius: 0;
      background-color: #fff;
    }
  }
}

table
{
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  margin: auto;
  thead
  {
    font-weight:bold;
  }

  tbody {
    th {
      font-size: 12px;
    }

    td
    {
      text-align: center;
    }
    textarea
      {
      resize: none;
      }
    }
  }

input
{
  text-align: center;
}

button
{
  text-align: center
}

.title
{
  text-align: center
}

.class
{
  background-color: lightgreen;
}

.class1
{
  background-color : white;
  -webkit-transition-property:  background-color;
  -webkit-transition-duration:  2s;
  -webkit-transition-timing-function : ease;
  transition-property:  background-color;
  transition-duration:  2s;
  transition-timing-function : ease;
}

.table-sortable tbody tr {
  cursor: move;
}

.color
{
  background-color:#4d88ff;
}

.modal-header
{
  background-color:#4d88ff;
}

.cross
{
  color:#ff1a1a;
}

.found
{
  border: 1px red solid;
}

#myModal
{
  display: none;
}

.closed
{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    opacity: .2;
    background: transparent;
    border: 0;
}

.pliage
{
  background-color:#bfbfbf;
  width : auto;
}

.pliage_ss_niveau
{
  background-color: #8c8c8c;
}

.style
{
   padding: 12px;
   padding-right:150px;
   background-color:#4d88ff;
}

.styletitle
{
  background-color:#4d88ff;
  text-align: center;
  width: 100%;
  font-size: 25px;
  padding: 7px;
}
