doctype html
html
  head
    title.
      Gestion des traductions
    link(rel='stylesheet', href='/tradjs.1.1.0.css')
    link(rel='stylesheet', href='/font-awesome.min.css')
  body
    header
      .row.stylehead
        .col-md-6.title='Gestion des traductions'
        .col-md-3
          form.form-inline
            .form-group
              .input-group
                .input-group-addon
                  span.fa.fa-search(aria-hidden="true")
                input.search(id='searching', type='text', name='search', placeholder='Rechercher...', value=query.search)
                #reset-search.input-group-addon
                  span.fa.fa-close(aria-hidden="true")
        .col-md-3
          button#suk Show untranslated keys

    table.table-bordered.table-inverse

    .main-content
      block content


    footer

    script.
      window.defaultSearch = '#{query.search}'
    script(src='/tradjs.1.1.0.js')

