doctype html
html
  title.
    Techniques AJAX - Upload de fichiers
  head
    link(rel='stylesheet', href='/tradjs.1.0.0.css')
body
    script(src='/tradjs.1.0.0.js')
    header
      h1.title Gestion des champs
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer

