doctype html
html
  head
    title.
      Techniques AJAX - Upload de fichiers
    link(rel='stylesheet', href='/tradjs.1.0.0.css')
  body
    header
      h1.title Gestion des champs
    script(src='/tradjs.1.0.0.js')
    .main-content
      block content
    footer

