extend _layout

block content
  table
     thead
        tr
          td= clé
          each val in listeLang
            td= val

          each val, key in objetFinale
            tr
              td
                input.form-control(id='key', type='text', value=key)
              td
                input.form-control(id='fr', type='text', value=val, data-key='data.'+key, data-lang='fr')




