extend _layout

block content
  -
   label = labels[0].data
  table
    thead
      tr
        td.
          Clés
        td.
          Français
        td.
          Anglais
    each label1, index in labels[1].data
      tr
        td
          input.form-control(id='index' type='text', value= index)
        td
          input.form-control(id='doc0' type='text', value= label[index])
        td
          input.form-control(id='doc1' type='text', value= label1)
  div
   button.modif(id='mod' type="submit") Modifier
